#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numpad {
  display: flex;
  flex-direction: row-reverse;
  width: 180px;
  flex-wrap: wrap;
  align-self: center;
  justify-content: left;
}

.mainBtn {
  width: 33%;
}

.btn0 {
  order: 1;
}

.displayRow {
  display: flex;
}

.mainKeys {
  display: flex;
}

.commands {
  display: flex;
  flex-direction: column;
}

.leftKeys {
  margin-right: 6px;
}

.display {
  background-color: rgb(213, 217, 196);
  padding: 10px 20px;
  box-shadow: -3px 3px 1px inset rgba(0,0,0,0.15);
}

.displayRow p {
  width: 100%;
  margin: 0;
  filter: drop-shadow(-1px 2px 0.5px rgba(0,0,0,0.15))
}

.working {
  text-align: left;
}

.calcType {
  text-align: right;
}

.displayRow.bottom {
  text-align: right;
  font-size:24pt;
}