#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numpad {
  display: flex;
  flex-direction: row-reverse;
  width: 180px;
  flex-wrap: wrap;
  align-self: center;
  justify-content: left;
}

.mainBtn {
  width: 33%;
}

.btn0 {
  order: 1;
}

.displayRow {
  display: flex;
}

.mainKeys {
  display: flex;
}

.commands {
  display: flex;
  flex-direction: column;
}

.leftKeys {
  margin-right: 6px;
}

.display {
  background-color: rgb(113, 116, 100);
  color: white;
  padding: 10px;
}

.displayRow p {
  width: 100%;
  margin: 0;
  font-size: 16pt;
}

.displayRow.bottom {
  text-align: right;
}