@import url('https://fonts.googleapis.com/css?family=Chivo+Mono');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numpad {
  display: flex;
  flex-direction: row-reverse;
  width: 190px;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;  
  margin: 0 5px;
}

.btn0 {
  order: 1;
}

.displayRow {
  display: flex;
}

.mainKeys {
  display: flex;
  justify-content: center;
}

.commands {
  display: flex;
  flex-direction: column;
}

.display {
  font-family: "Chivo Mono";
  font-variant-ligatures: none;
  background-color: rgb(213, 217, 196);
  padding: 10px 20px;
  box-shadow: -3px 3px 1px inset rgba(0,0,0,0.15);
  margin-bottom:20px;
  width: 270px;
  overflow: hidden;
  align-self: center;
}

.displayRow p {
  width: 100%;
  margin: 0;
  filter: drop-shadow(-1px 2px 0.5px rgba(0,0,0,0.15))
}

.working {
  text-align: left;
}

.calcType {
  text-align: right;
}

.displayRow.bottom {
  text-align: right;
  font-size:24pt;
}

button {
  margin: 2px;
  width: 56px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none !important;
  border-bottom: 3px solid rgba(0,0,0,0.2) !important;
}

button:hover {
  border-bottom: 2px solid rgba(0,0,0,0.2) !important;
  position:relative;
  top:1px;
}

button:active {
  border-bottom: 0px solid rgba(0,0,0,0.2) !important;
  border-top: 1px solid rgba(0,0,0,0.2) !important;
  position:relative;
  top:3px;
}

.numBtn {
  font-family: "Chivo Mono";
  font-size: 16pt;
}

.btnC, .btnBkSp {
  background-color: rgb(241, 209, 147);
}

.btnEq {
  background-color: rgb(191, 215, 247);
}